body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background: url("../../assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  position: absolute;
  margin: 0 auto;
  max-width: 80%;
  inset: 0;

  @media (max-width: 768px) {
    max-width: 95%;
  }
}

.App {
  position: relative;
  margin: 2rem 0;
}
