.firstPage__block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 15vw;

    .firstPage__title {
        font-size: 5vw;
        color: #fff;
        font-weight: 900;
        text-shadow: 0px 2px 10px #000000;

        margin-bottom: 20px;
    }
}