.dasboard-block {
  &__sunState {
    display: flex;
    justify-content: space-around;
    grid-area: 3 / 2 / 4 / 3;
    padding: 1.4vw 3.5vw;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.6);

    .sunState__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 3rem;

      img {
        width: 13rem;

        @media (max-width: 1024px) {
          width: 8rem;
        }

        @media (max-width: 768px) {
          width: 7rem;
        }
      }

      @media (max-width: 1440px) {
        font-size: 2rem;
      }
    }

    @media (max-width: 768px) {
      grid-area: 4 / 1 / 5 / 3;
      margin-bottom: 1rem;
    }
  }
}
