.dasboard-block {
  &__temp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: 1 / 1 / 2 / 3;

    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);

    padding: 1.5vw 70px;

    @media (max-width: 768px) {
      padding: 10px 30px;
    }

    @media (max-width: 500px) {
      flex-direction: column;
      justify-content: space-around;

      gap: 3rem;
      padding: 30px;
    }

    .localInfo {
      display: flex;
      flex-direction: column;

      @media (max-width: 768px) {
        align-items: center;
      }

      h1 {
        font-weight: 700;
        font-size: 5vw;

        @media (max-width: 768px) {
          font-size: 3rem;
        }
      }

      p {
        font-size: 2vw;

        @media (max-width: 768px) {
          font-size: 1.5rem;
        }
      }
    }

    .tempInfo {
      text-align: right;

      @media (max-width: 500px) {
        text-align: center;
      }

      h1 {
        font-size: 5vw;
        font-weight: 900;

        @media (max-width: 768px) {
          font-size: 3rem;
        }
      }

      h2 {
        font-size: 2vw;
        font-weight: 700;

        @media (max-width: 768px) {
          font-size: 1.5rem;
        }

        .max {
          color: #ff4d00;
        }

        .min {
          color: #7c4fff;
        }
      }

      p {
        font-size: 1.5vw;

        @media (max-width: 768px) {
          font-size: 1.5rem;
        }
      }
    }
  }
}
